VITE_SUPABASE_URL=https://buvetwrbqivonphjsryn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1dmV0d3JicWl2b25waGpzcnluIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAwNDA1NTIsImV4cCI6MjA4NTYxNjU1Mn0.AdErat3ngIHi9QzOtJWH5N0Z-ttGQc-jV853bEK0UWE
VITE_FLUTTERWAVE_PUBLIC_KEY=your_flutterwave_public_key
